<app-navbar-inicio></app-navbar-inicio>
<div class="mainRegister">
    <mat-spinner *ngIf="loader" diameter="60"></mat-spinner>
    <form *ngIf="!loader" [formGroup]="formRegister" (ngSubmit)="checkRegistrar()" class="formulario">
        <h1><b>Register</b></h1>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" formControlName="usuario">
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput autocomplete="off" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" formControlName="email">
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent" class="ancho submit" [disabled]="formRegister.invalid">Enviar email</button>
    </form>
    <div class="checkRegister" *ngIf="checkCorreo">
        <br>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Código</mat-label>
            <input matInput autocomplete="off" id="token" class="ancho" required><br>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="accent" class="ancho" (click)="registrar()">Registrar</button>
    </div><br>
    <button style="background-color: rgb(255, 22, 22);"  class="solucionesButton round-button register" routerLink="/login" mat-raised-button
    *ngIf="!loader" color="primary" id="slv">Logueate! <mat-icon>touch_app</mat-icon></button>
</div>

    <!-- Footer with Navigation -->
    <footer class="my-footer">
        <div class="container">
            <div class="site-info">
                © 2023 <a href="javascript:void(0);"><strong><b>Rubik Trainer</b></strong></a>
            </div>
        </div>
    </footer>
    