<mat-toolbar color="accent" style="background-color: #ff0000ba;" id="my-first">
  <ul>
    <li class="logotype">
      <b class="titleLeft">Rubik Trainer</b>
    </li>
    <li class="burger" (click)="toggleMenu()">
      <i class="material-icons">{{ isMenuRespon ? "close" : "menu" }}</i>
    </li>
    <li class="menu" [class.is-open]="isMenuRespon">
      <button (click)="toggleMenuItems()" class="menu-item" mat-button routerLink="/dashboard/home">Inicio</button>
      <button (click)="toggleMenuItems()" class="menu-item" mat-button routerLink="/dashboard/timer">Timer</button>
      <div class="dropdown" (mouseenter)="showDropdownAlgs()" (mouseleave)="hideDropdownAlgs()" (focusout)="onFocusout($event)">
        <button mat-raised-button color="primary" #dropdownButton (click)="onClick()">Algoritmos</button>
        <div class="dropdown-content" [ngStyle]="{display: isDropdownOpen ? 'block' : 'none'}">
          <a (click)="toggleMenuItems()" [routerLink]="['/dashboard/algs']" [queryParams]="{ parametro: 'F2L' }">F2L</a>
          <a (click)="toggleMenuItems()" [routerLink]="['/dashboard/algs']" [queryParams]="{ parametro: 'OLL' }">OLL</a>
          <a (click)="toggleMenuItems()" [routerLink]="['/dashboard/algs']" [queryParams]="{ parametro: 'PLL' }">PLL</a>
        </div>
      </div>
      
      <button class="menu-item" mat-button routerLink="/dashboard/tutorial">Tutorial</button>
      <span class="example-spacer"></span>
    </li>
  </ul>
  <button (click)="openOverlay()" mat-mini-fab style="background-color: rgb(4, 49, 107);"
        aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
  </button>
  <button (click)="cerrarSesion()" mat-mini-fab style="background-color: rgb(77, 7, 80);"
        aria-label="Example icon button with a menu icon">
        <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="overlay" *ngIf="isOverlayOpen" (click)="closeOverlay()">
  <!-- Content -->
  <div class="overlay-content" (click)="stopPropagation($event)">
    <!-- Header -->
    <div class="overlay-header">
      <h2>Deseas eliminar tu cuenta?</h2>
      <h3>Si haces click en el botón, ya no habrá vuelta atrás</h3>
    </div>

    <!-- Body -->
    <div class="overlay-body">

      <!-- Data -->
      <div class="overlay-data">
        <button style="background-color: rgb(255, 0, 0);" (click)="borrarUser()" class="round-button" mat-raised-button
				color="primary" id="slv">Eliminar User<mat-icon>delete</mat-icon></button>
    </div>
    <!-- Close Button -->
    <button class="overlay-close" (click)="closeOverlay()">Cerrar</button>
  </div>
